.page__body {
  display: grid;
  grid-template-columns: 306px 1fr;
  grid-auto-flow: column;
  gap: 20px;

  margin: 0 auto;

  background-color: #F7F4FF;
  font-family: Poppins;

  @include onMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}